@using System.Configuration
@model Karmr.WebUI.Models.Listing.ListingSearchFormModel
@{
    ViewBag.Title = "Index";
    ViewBag.CurrentMenuItem = "OfferHelp";
    ViewBag.BodyClass = "about-page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Volunteering Opportunities</h1>
            </div>
        </div>
    </div>
</div>

<div class="contact-page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-8">
                <div class="entry-content">
                    <h2>Volunteering opportunities near you</h2>
                    <p>To find volunteering opportunities near you please enter your location below and click "Search"</p>
                    <div class="search-widget">
                        <form class="flex flex-wrap align-items-center" action="@Url.Action("Search", "Listing")">
                            <input type="search" id="location" placeholder="Enter your location...">
                            <input type="hidden" id="latitude" name="latitude" />
                            <input type="hidden" id="longitude" name="longitude" />
                            <input type="hidden" id="address" name="address" />
                            <button type="submit" class="flex justify-content-center align-items-center">Search</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function initAutocomplete() {
        var input = document.getElementById('location');
        var searchBox = new google.maps.places.SearchBox(input);
        searchBox.addListener('places_changed', function () {
            var places = searchBox.getPlaces();
            if (places.length == 0) { return; }
            document.getElementById('latitude').value = places[0].geometry.location.lat();
            document.getElementById('longitude').value = places[0].geometry.location.lng();
            document.getElementById('address').value = places[0].formatted_address;
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=@ConfigurationManager.AppSettings["GoogleAPIKey"]&libraries=places&callback=initAutocomplete" async defer></script>