@model Karmr.WebUI.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
    ViewBag.BodyClass = "about-page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Change Password</h1>
            </div>
        </div>
    </div>
</div>

<div class="contact-page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="entry-content contact-form">
                    <h2>Change Password</h2>
                    <p>Your password has been successfully changed.</p>
                    <p>Click <a href="@Url.Action("Index", "Account")">here</a> to go back to your account.</p>
                </div>
            </div>
        </div>
    </div>
</div>