@{
    ViewBag.Title = "Forgot your password?";
    ViewBag.BodyClass = "about-page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Forgot Password</h1>
            </div>
        </div>
    </div>
</div>

<div class="contact-page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-6">
                <div class="entry-content contact-form">
                    <h2>Forgot your password?</h2>
                    <p>Please check your email to reset your password.</p>
                </div>
            </div>
        </div>
    </div>
</div>