@{
    ViewBag.Title = "Password Reset";
    ViewBag.BodyClass = "about-page";
    Layout = "../Shared/_Layout.cshtml";
}

<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Password Reset</h1>
            </div>
        </div>
    </div>
</div>

<div class="contact-page-wrap">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-7">
                <div class="entry-content contact-form">
                    <h2>Password Reset</h2>
                    <p>
                        Your password has been reset. Please @Html.ActionLink("click here to sign in", "SignIn", "Account").
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>